# python
venv/*
*.pyc
__pycache__/*


# database stuff
data/*
data.bak/*


# production stuff
docker-compose_prod.yml
tf/ssh/id_rsa


# terraform providers etc
tf/*/.terraform/*
.terraform.lock.hcl
terraform.tfstate

# vim swap
*.swp

clean.sh

