
{% extends "base.html" %}

{% block app_content %}

    <h1>Admin Page</h1>
  <table class="table table-hover">
   {% for user in users %}
   <tr class="table-row">
      <td>{{user.username}}</td>
      <td>
  <form action="" method="post">
      {{ usereditform.csrf_token }}
      {{ usereditform.userid(value=user.id) }}
      {{ usereditform.student.label }}
      {{ usereditform.student(checked=user.is_student()) }}
      {{ usereditform.admin.label }}
      {{ usereditform.admin(checked=user.is_admin()) }}
      </td>
      <td></td>
      <td>
      {{ usereditform.submit() }}
      <td></td>
    </form></td>
    </tr>
  {%for course in user.assignments%}
   <tr class="table-row table-dark">
      <td></td>
      <td>{{course.course_name}}</td>
      <td>{{course.course_desc}}</td>
      <td>{{course.course_vm}}</td>
      <form action="" method="post"><td>
      {{deleteform.csrf_token}}
      {{deleteform.course(value=course.id)}}
      {{deleteform.userid(value=user.id)}}
      {{deleteform.delete()}}
      </td></form>
   </tr>
   {%endfor%}
   <tr class="table-row table-dark">
   <form action="" method="post">
   {{assignform.userid(value=user.id)}}
   <td></td>
   {{assignform.csrf_token}}
      <td></td>
   <td>{{assignform.course.label}}{{assignform.course()}}</td>
      <td></td>
   <td>{{assignform.submit()}}</td>
   </form>
   </tr>
    {%endfor%}
    </table>

{% endblock %}

