
{% extends "base.html" %}

{% block app_content %}

    <h1>Admin Page</h1>
  <table class="table table-hover">
   {% for user in users %}
   <tr class="table-row">
      <td>{{user.username}}</td>
      <td>
  <form action="" method="post">
    {{ usereditform.hidden_tag() }}
      {{usereditform.userid(value=user.id)}}
      {{ usereditform.roles.label }}
      {{ usereditform.roles }}
    {{ usereditform.submit() }}
    </form></td>
    </tr>
  {%for course in user.courses%}
   <tr class="table-row">
      <td>{{course.name}}</td>
   </tr>
   {%endfor%}
    {%endfor%}
    </table>

{% endblock %}

