
{% extends 'bootstrap/base.html' %}

{% block title %}
{% if title %}{{ title }} - VMlab{% else %}Welcome to VMlab{% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <div class="navbar-header">
	    <a class="navbar-brand" href="{{ url_for('index') }}">VMlab</a>
    </div>
          <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav width-auto">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        {% if current_user.is_anonymous %}
        <li><a href="{{ url_for('login') }}">Login</a></li>
        {% else %}
        {%if current_user.assignments|length > 0%}
        <li><a href="{{ url_for('courses') }}">Courses</a></li>
        {%endif%}
        {%if current_user.is_teacher()%}
        <li><a href="{{ url_for('new_course') }}">Create Course</a></li>
        {%endif%}
        {%if current_user.is_admin()%}
        <li><a href="{{ url_for('admin') }}">Admin</a></li>
        {%endif%}
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% endif %}
    </ul></div>
      {% block search_form %}{% endblock %}
  </div>
</nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

