
{% extends "base.html" %}

{% block app_content %}

    <h1>Courses</h1>
    <table class="table table-hover">
    <tr><th>Course</th><th>Status</th></tr>
    {%for course in current_user.assignments%}
    <tr><td><a href={{url_for('module', course_id=course.id)}}>{{course.course_name}}</a></td>
    <td>
    {%for instance in current_user.instances%}
    {%if instance.course_id == course.id%}
    Active
    {%else%}
    Inactive
    {%endif%}
    {%endfor%}
    </td>
    </tr>
    {%endfor%}
    </table>

{% endblock %}

