
{% extends "base.html" %}

{% block app_content %}
    <h1>Manage VMs</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.vm_name.label }}<br>
            {{ form.vm_name(size=32) }}<br>
        </p>
        <p>
            {{ form.vm_desc.label }}<br>
            {{ form.vm_desc(size=64) }}<br>
        </p>
        <p>
            {{ form.path.label }}<br>
            {{ form.path(size=32) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <p>
    <table class="table table-hover">
    {%for vm in vms%}
    <tr>
    <td>{{vm.vm_name}}</td>
    <td>{{vm.vm_desc}}</td>
    <td>{{vm.path}}</td>
    <td>
    <form action="" method="post">
    {{delform.csrf_token()}}
    {{delform.vm_id(value=vm.id)}}
    {{delform.delete()}}
    </form>
    </td>
    </tr>
    {%endfor%}
    </table>
    </p>
{% endblock %}

