{% extends "base.html" %}

{% block app_content %}
    <h1>Manage Courses</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.course_name.label }}<br>
            {{ form.course_name(size=32) }}<br>
        </p>
        <p>
            {{ form.course_desc.label }}<br>
            {{ form.course_desc(size=64) }}<br>
        </p>
        <p>
            {{ form.course_text.label }}<br>
            {{ form.course_text(cols="32", rows="20") }}<br>
        </p>
        <p>
            {{ form.vm.label }}<br>
            {{ form.vm() }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>

    <div class="card">
    <table class="table table-hover">
    {%for course in courses%}
    <tr>
    <td>{{course.course_name}}</td>
    <td>{{course.instances|length}}</td>
    <td>
    {%if course.instances|length >0%}
    <form action="" method="post">
    {{ deactform.csrf_token() }}
    {{deactform.course_id(value=course.id)}}
    {{deactform.deact()}}
    </form>
    {%endif%}
    </td>
    <td>
    <form action="" method="post">
        {{ delform.csrf_token() }}
    {{delform.course_id(value=course.id)}}
    {{ delform.delete() }}
    </form>
    </td>
    </tr>
    {%endfor%}
    </table>
    </div>
{% endblock %}

